<!DOCTYPE html>
<html lang="en">

<head>
  <title>Image Classification</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <div class="">
      <h2 class="bg-primary" style="padding: 10px">Forest Carbon</h2>
    </div>
    <br><br>
    <form class="form-horizontal" action="/submit" method="post" enctype="multipart/form-data">
      <h3> Path of the image repository</h3>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" name="add_info" required="required">
        </div>
      </div>

      <!-- <h3>Select the region</h3>
      <div class="form-group" style="width:84%; margin: 1px;">
        <select name="region_selected" class="form-control" required="required">
          <option value="region 1">region 1</option>
          <option value="region 2">region 2</option>
        </select>
      </div>

      <h3>Upload Your Image :</h3>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="file" class="form-control" placeholder="Hours Studied" name="my_image" id="pwd">
        </div>
      </div> -->

      <div class="form-group" style="float: left">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>

    {% if prediction %}
    <img src="{{img_path}}" height="400px" width="400px">
    <h2> Your Prediction : <i> {{prediction}} </i></h2>

    {% endif %}

  </div>

</body>

</html>